/* Remove default html margin */
body {
	margin: 0;
}

/* Set header styling */
h1, h2, h3, h4, h5, h6 {
	color: aquamarine;
	margin: 0;
	padding: 0;
}

/* Set paragraph styling */
p {
	margin: 0;
	padding: 0;
}

/* Remove margin and padding from plotly */
.container-fluid {
	padding: 0;
}

/* Default button styling */
button {
	background-color: transparent;
	border: 3px solid white;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}